.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size:.8rem;
    justify-content: space-between;
}
.tw-followCard-header{
    display: flex;
    align-items: center;
    gap:4px;
}
.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-avatar{
    width: 50px;
    height: 50px;
    border-radius: 1080px;
}

.tw-followCard-infoUserName{
    opacity: .6;
}
.tw-followCard-button{
    opacity: .6;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding:6px 16px;
    font-weight: bold;
}
.users{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}